<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.fearkov.zakuro">
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <uses-feature android:name="android.hardware.vulkan.version" android:required="false" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Zakuro 3DS Recomp"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Zakuro 3DS Recomp"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NativeActivity"
            android:process=":game"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout|uiMode"
            android:exported="true"
            android:label="Zakuro"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="main" />
        </activity>
        <activity
            android:name=".CModActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:exported="false"
            android:label="Mods e Código C (Overrides)"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
